<h3>My_app</h3>

<p><b>Info About my project</b></p>
<ol>
	<li>Total Clients : <%= @clients_count %> - <%= link_to "View Client", 
	clients_path%> | <%= link_to "Add Client", new_client_path %>
	</li>
	<li>Total Projects : <%= @projects_count %> </li>
	<li>Total Tasks: <%= @tasks_count %> </li>
</ol>

