<h1>Project Details</h1>
<table border= "1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Client</th>
			<td>Total Tasks</td>
			
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
		<tr>
			<td><%= link_to project.name, project1_url(project) %></td>
			<td><%= project.status %></td>
			<td><%#project.client.nil? ? "N/A" : project.client.name %>
			<%= project.client.try(:name) %></td>
			<td><%= link_to "edit", edit_project1_path(project) %></td>
			<td><%= project.tasks.size %></td>

		</tr>
	<% end %>
	</tbody>
</table>
